<table class="table">
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <% if current_user == event.manager %>
        <th>Attendees</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% event_times.each do |event_time| %>
      <tr>
        <td><%= event_time.start_time.strftime('%A %b %e @ %l:%M %p') %></td>
        <td><%= event_time.end_time.strftime('%A %b %e @ %l:%M %p') %></td>
        <% if current_user == event.manager %>
          <td><%= link_to "0", coming_soon_path, class: "btn btn-danger" %></td>
        <% end %>
        <% if current_user == event.manager && event_time.upcoming? %>
          <td><%= link_to "edit", edit_event_event_time_path(event, event_time), class: "btn btn-default" %></td>
        <% elsif event_time.upcoming? %>
          <td><%= link_to "buy ticket", coming_soon_path, class: "btn btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
